.hero {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
  transition: transform 0.5s ease, opacity 0.5s ease;
  margin-top: 100px ;
}


.hero-container {
  width: 327px;
  height: 500px;
  background: linear-gradient(to right, rgb(127, 164, 164), rgb(26, 60, 92));
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 45px 0 40px 0;
}

.visible {
  opacity: 0.8; /* Делаем блок видимым */
  transform: translateY(0); /* Смещаем в исходное положение */
}



.hero-container h1 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 1.2;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

}

.card {
  width: 295px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  margin: 0 auto;

}

.visible .card{
  opacity: 0;
  transform: translate(20px);
  animation: fadeInUp 0.5s forwards ease-in-out;
}

.card h2 {
  font-size: 20px;
  font-weight: 800;
  color: rgb(255, 255, 255);
}

.card p {
  font-size: 15px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

#cardGrowth{
  animation-delay: 0.5s;
}

#cardDoingRight{
  animation-delay: 2.5s;
}

#cardPerfomance{
  animation-delay: 1.5s;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px){
  .hero {
    height: 100vh;
  }
  
  .hero-container {
    width: 600px;
    height: 500px;
    padding: 60px 20px 40px 20px;
    margin-top: -70px;
  }
  
  .hero-container h1 {
    font-size: 36px;
    max-width: 600px;
  }
  
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
  }
  
  .card {
    width: 45%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    margin: 0 auto;
  
  }
  
  .card h2 {
    font-size: 23px;
  }
  
  .card p {
    font-size: 17px;
  }

  #cardGrowth{
    text-align: start;
  }
  
  #cardDoingRight{
    text-align: end;
  }
  

  
}

@media (min-width: 1025px){
  .hero {
    height: 100vh;
    margin-top: 10px;
  }
  
  .hero-container {
    width: 1100px;
    height: 500px;
    margin-top: -50px;
    gap: 20px;
    transform: translateY(100px); 

  }
  
  .hero-container h1 {
    margin-top: 20px;
    font-size: 48px;
    line-height: 1.2;
  }
  
  .cards {
    gap: 15px;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: start;
  }
  
  .card {
    width: 30%;
    padding: 20px;
    gap: 15px;
    justify-content: start;
  }
  
  .card h2 {
    font-size: 24px;
  }
  
  .card p {
    font-size: 18px;
    line-height: 1.6;
  }

  #cardGrowth{
    text-align: start;
  }
  
  #cardDoingRight{
    text-align: end;
  }
}
