/* CSS Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Menu section */


body{
  background-image: url('../images/83DC97A0-8489-4E9F-A2BE-17C3966E91B8.webp');
  background-size: cover;
  background-position: center 80px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

body.modal-active{
  overflow: hidden;
}

.navbar {
  width: 100vw;
  height: 90px;
  background: linear-gradient(to right, rgb(127, 164, 164), rgb(26, 60, 92));
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar-container {
  width: 327px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

#navMenuContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 6;
  position: fixed;
  top: 90px;
  left: 0;
  background-color: rgba(0, 0, 0,0);
  
}

.logo{
  width: 150px;
  height: 50px;
}

#navMenu {
  position: fixed;
  top: 90px;
  right: -50%;
  width: 50%;
  height: 100vh;
  background: linear-gradient(to right, rgb(76, 111, 127), rgb(26, 60, 92));
  padding: 5px;
  box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 8;
  overflow-y: scroll;
}

#navMenu.open{
  right: 0;
}

#navMenu h2 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 800;
}


#navMenu ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding-left: 0;
  margin: 0;
    overflow-y: auto;
}

.nav-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s ease;
}

.nav-link.active::after {
  width: 100%;
}

#disclosure {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;  
  z-index: 200;
  transition: transform 1s ease, opacity 1s ease; 
  margin-top: 100px;

}

#disclosure.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

#disclosureBlock{
  width: 327px;
  height: 500px;
  background: linear-gradient(to right, rgb(127, 164, 164), rgb(26, 60, 92));
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  opacity: 0.8;
  padding: 20px 0;
}

#disclosureBlock h2{
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 800;
}

#disclosureText{
  max-width: 300px;
  height: 250px;
  padding: 20px 15px;
  background-color: rgba(189, 189, 189, 0.25);
  border-radius: 20px;
}

#disclosureText p{
  max-width: 330px;
  height: 210px;
  overflow-y: scroll;
  padding: 0 15px;
  color: rgb(255, 255, 255);
  scrollbar-width: thin; 
  scrollbar-color: rgba(189, 189, 189, 0.25) rgb(241, 241, 241);
} 

#disclosureText p::-webkit-scrollbar {
  width: 4px;
}

#disclosureText p::-webkit-scrollbar-track {
  background:  rgba(189, 189, 189, 0.25); 
}

#disclosureText p::-webkit-scrollbar-thumb {
  background:  rgba(189, 189, 189, 0.25); 
}

#disclosureText p::-webkit-scrollbar-thumb:hover {
  background:  rgba(189, 189, 189, 0.25); 
}

#disclosureBlock button{
  width: 200px;
  height: 40px;
  font-size:16px;
  background-color: rgb(113, 169, 169);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#disclosureBlock button.enabled{
  background-color: rgb(6, 100, 100);
}

@media (min-width: 768px) and (max-width: 1024px){
  body{
    width: 100vw;
    background-position: center 70px;
  }

  .navbar {
    height: 70px;
  }
  
  .navbar-container {
    width: 600px;
  }
  

  
  #navMenu {
    top: 70px;
    right: -40%;
    width: 40%;
    background: linear-gradient(to right, rgb(66, 101, 120), rgb(26, 60, 92));
  }
  
  #navMenu h2 {
    margin-top: 140px;
    font-size: 30px;
  }
  
  
  #navMenu ul {
    gap: 30px;
  }
  
  .nav-link {
    font-size: 22px;
  }
  
  .nav-link::after {
    height: 3px;
  }
  
  #disclosureBlock{
    width: 600px;
    height: 500px;
    padding: 25px 0;
  }
  
  #disclosureBlock h2{
    font-size: 28px;
  }
  
  #disclosureText{
    max-width: 400px;
    height: 300px;
    padding: 20px 15px;

  }
  
  #disclosureText p{
    max-width: 330px;
    height: 250px;
    font-size: 18px;
  } 
  
}

@media (min-width: 1025px){
  .navbar {
    height: 80px;
  }

  .navbar-container {
    width: 1100px ;
    height: 80px;
  }
  
  #navMenuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 80px;
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
  }
  
  #navMenu {
    position: relative;
    top: 0;
    right: 0;
    width: 400px;
    height: 80px;
    background: none;
    padding: 0;
    box-shadow: none;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: end;
    align-items: center;
    gap: 0px;
  }
  

  #navMenu h2 {
    display: none;
  }
  
  #navMenu ul {
    flex-direction: row;
    gap: 30px;
  }
  
  .nav-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 100;
    padding: 2px;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: width 0.7s ease;
  }
  
  .nav-link:hover::after,
  .nav-link.active::after {
    width: 100%;
  }

  #burgerMenu{
    display: none;
  }


  #disclosureBlock{
    width: 600px;
    height: 500px;
    padding: 25px 0;
  }
  
  #disclosureBlock h2{
    font-size: 28px;
  }
  
  #disclosureText{
    max-width: 400px;
    height: 300px;
    padding: 20px 15px;

  }
  
  #disclosureText p{
    max-width: 330px;
    height: 250px;
    font-size: 18px;
  } 
  
}
